body{
    background-color: black;
}

.logo {
    width: 100px;
}

#bgImage {
    background-image: url(../img/movies/American_Gods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    top: -30px;
    margin-top: 0px;    
    width: 100%;
    background-position: center center;
}

.info {
    margin-top: -55px;
}

#head_space {
    height: 80vh;
    
    margin-top: 140px;  
    width: 100%;
    color: white;
}

#words{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    margin-bottom: 80px;
}


#movie_info{
    height: auto;
    color: white;
}

#movie_info h4{
    width: 178px;
    float: left;
    
}

#watchlater{
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

#playnow {
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    height: 30px;   
    width: 30px;
    background-position: center center;
    float: right;
    margin-top: 5px;
    margin-right: 0px;
}

#episodes {
    background-color: #142630;
    height: 590px;    
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0px;
}

#episodes h3{
    margin-bottom: 10px;
}

#E1 {
    margin-top: 23px;
    float: left;

}

#episodesDD {
    width: 100%;
    background-color: #142630;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 8px;
}

#episodesDD h3 {
    float: left; 
}

#episodesDD p {
    float: left; 
    margin-top: 25px;
    margin-left: 10px
}

.caret {
    float: right;
    margin-top: 30px;
}


.dropdown-menu{
    width: 100%;
    background-color: #142630;
    padding-left: 29px;
    padding-right: 29px;
    box-shadow: 10, 10 black;
}


.dropdown-menu li {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 500px;
    opacity: 1;
}

#trailer {
  padding: 0;    
}

#trailer_md {
  padding: 0;    
}

#trailer_xs {
  padding: 0;
  float: left;
  margin-left: 16;    
}

#trailer_sm {
  padding: 0;    
}

#play_pane {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;    
  background-color: #142630;
  height: 220px;    
  float: left;
  margin-left: 35px;    
  width: 220px; 
  border: 5px solid #FFFFFF;
  border-color: white;
  background-image: url(../img/movies/American_Gods_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#play_pane_md {
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 0px;    
  background-color: #142630;
  height: 180px;    
  float: left;
  margin-left: 35px;    
  width: 180px; 
  border: 5px solid #FFFFFF;
  border-color: white;
  background-image: url(../img/movies/American_Gods_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#play_pane_xs {
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 0px;    
  background-color: #142630;
  height: 180px;    
  float: left;
  margin-left: 0px;
  margin-top: 35px;    
  width: 180px; 
  border: 5px solid #FFFFFF;
  border-color: white;
  background-image: url(../img/movies/American_Gods_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#play_pane_sm {
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 0px;    
  background-color: #142630;
  height: 180px;    
  float: right;
  margin-left: 35px;    
  width: 260px; 
  border: 5px solid #FFFFFF;
  border-color: white;
  background-image: url(../img/movies/American_Gods_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#play_button {
  
  height: 80px;
  width: 80px;    
  margin-left: 36px; 
  margin-top: 20px;     
  background-image: url(../img/play_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#play_button_md {
  
  height: 80px;
  width: 80px;    
  margin-left: 28px; 
  margin-top: -5px;     
  background-image: url(../img/play_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#play_button_sm {
  
  height: 80px;
  width: 80px;    
  margin-left: 65px; 
  margin-top: -5px;     
  background-image: url(../img/play_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#play_button_xs {
  
  height: 80px;
  width: 80px;    
  margin-left: 28px; 
  margin-top: -5px;     
  background-image: url(../img/play_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
}

#ratingsxs {
    padding: 0px;
    width: 33%;
}

#user_ratingxs {
  background-color: #142630;
  margin-top: 35px;
  height: 180px;
  width: 100%;
  float: right;
  padding-left: 15px;
  padding-right: 28px;    
  padding-top: 5px;
  text-align: right;    
}

#space {
    width: 100%;
    height: 25px
}

#ri_1xs {
  height: 35px;
  width: 35px;
  margin-top: 25px;
  margin-left: 0px;    
  float: left;    
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#reel_1xs {
  height: 35px;
  width: 35px;
  margin-top: 25px;
  margin-left: 0px;    
  float: left;    
  background-image: url(../img/movie-reel.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#user_ratingxs h4{
  width: 33px;
  float: right;
  margin-top: -10px;    
}

@media screen and (min-width: 500px) {
    #user_ratingxs {
      background-color: #142630;
      margin-top: 35px;
      height: 180px;
      width: 100%;
      float: right;
      padding-left: 45px;
      padding-right: 58px;    
      padding-top: 5px;
      text-align: right;    
}
    #ratingsxs {
     padding: 0px;
     width: 50%;
}
    #trailer_xs {
     padding: 0;
     float: left;
     margin-left: 16;
     width: 45%    
}
}

@media screen and (min-width: 680px) {
    #user_ratingxs {
      background-color: #142630;
      margin-top: 35px;
      height: 180px;
      width: 100%;
      float: right;
      padding-left: 125px;
      padding-right: 168px;    
      padding-top: 5px;
      text-align: right;    
}
    #ratingsxs {
     padding: 0px;
     width: 60%;
}
    #trailer_xs {
     padding: 0;
     float: left;
     margin-left: 16;
     width: 35%    
}
}

#synopsis {
    padding: 0;    
        
}

#synopsis_pane_xs {
  background-color: rgb(30,30,30);
  height: 160px;    
  float: left;
  width: 100%;
  margin-left: 0px;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;  
} 

#synopsis_pane_xs p {
  margin-top: 10px;
  color: rgb(180,180,180);    
} 

#synopsis_sm{
    padding: 0;
}

#synopsis_pane_sm {
  background-color: rgb(30,30,30);
  height: 200px;    
  float: right;
  width: 260px;
  margin-right: 0px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;  
} 

#synopsis_pane_sm p {
  margin-top: 10px;
  color: rgb(180,180,180);    
}

#ratingssm {
    padding: 0px;
}

#user_ratingsm {
  background-color: #142630;
  margin-top: 35px;
  height: 135px;
  width: 260px;
  float: right;
  padding-left: 15px;
  padding-right: 28px;    
  padding-top: 5px;
  text-align: right;    
}

#ri_1sm {
  height: 35px;
  width: 100px;
  margin-top: 20px;
  margin-left: 0px;    
  float: left;    
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;  
}

#reel_1sm {
  height: 35px;
  width: 100px;
  margin-top: 20px;
  margin-right: 0px;    
  float: right;    
  background-image: url(../img/movie-reel.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;  
}

#ri_1sm h4{
  width: 33px;
  margin: auto;
  margin-left: 33px;    
}

#reel_1sm h4{
  width: 33px;
  margin: auto;
  margin-left: 30px;    
}

#ri_1sm h3{
  width: 33px;
  margin: auto; 
  margin-top: 35px;
     
}

#reel_1sm h3{
  width: 33px;                                                            
  margin: auto;
  margin-top: 35px;    
}

#user_input {
    height: 220px;
    float: right;
    padding: 0;
}

#user_input_md {
    height: 200px;
    float: right;
    padding: 0;
    margin-top: 35px 
}

#user_input h3{
   text-align: center;
   margin-top: 20px;    
}

#user_input h5{
   text-align: center;
   margin-top: -10px;    
}

#views {
  background-color: #142630;
  height: 220px;
  width: 135px;
  float: left;
  
}

#views_md {
  background-color: #142630;
  height: 200px;
  width: 148px;
  float: left;
  margin-left: 35;
  text-align: center;
  padding-left: 12px;  
}

#views_icon {
  height: 70px;
  width: 70px;
  margin-left: 30px;
  margin-top: 40px;
  background-image: url(../img/views.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#likes_icon {
  height: 70px;
  width: 70px;
  margin-left: 30px;
  margin-top: 40px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#comments_icon {
  height: 70px;
  width: 70px;
  margin-left: 30px;
  margin-top: 40px;
  background-image: url(../img/comment.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#likes {
  background-color: #142630;
  height: 220px;
  width: 135px;
  float: left;
  margin-left: 35px;    
}

#likes_md {
  background-color: #142630;
  height: 200px;
  width: 148px;
  float: left;
  margin-left: 35px;
  text-align: center;
  padding-left: 12px;
}

#comments {
  background-color: #142630;
  height: 220px;
  width: 135px;
  float: right;
}

#comments_md {
  background-color: #142630;
  height: 200px;
  width: 148px;
  float: right;
  text-align: center;
  padding-left: 12px;    
}

#synopsis {
    padding: 0;    
        
}

#synopsis_pane {
  background-color: rgb(30,30,30);
  height: 335px;    
  float: left;
  width: 435px;
  margin-left: 35px;
  margin-top: 35px; 
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;  
} 

#synopsis_pane_md {
  background-color: rgb(30,30,30);
  height: 180px;    
  float: left;
  width: 303px;
  margin-left: -5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;  
} 


#synopsis_pane p {
  margin-top: 20px;
  color: rgb(180,180,180);
} 

#synopsis_pane_md p {
  margin-top: 10px;
  color: rgb(180,180,180);    
} 


#ratings {
    padding: 0;
}

#ratings_md {
    padding: 0;
}

#user_rating {
  background-color: #142630;
  margin-top: 35px;
  height: 150px;
  width: 255px;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;    
}

#user_rating_md {
  background-color: #142630;
  margin-top: 35px;
  margin-left: 35px;    
  height: 140px;
  width: 238px;
  float: left;
  padding-left: 23px;
  padding-right: 30px;
  padding-top: 5px;    
}

#user_rating h4{
  text-align: center;
  width: 100%;
  margin-top: 35px;    
}

#user_rating_md h4{
  text-align: center;
  width: 100%;
  margin-top: 30px;    
}

#rating_icons {
    
}

#ri_1 {
  height: 35px;
  width: 35px;
  margin-top: 8px;
  margin-left: 2px;    
  float: left;    
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#ri_2 {
  height: 35px;
  width: 35px;
  margin-top: 8px;
  float: left;
  margin-left: 2px;     
  background-image: url(../img/star-half.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#ri_3 {
  height: 35px;
  width: 35px;
  margin-top: 8px;
  float: left; 
  margin-left: 2px;     
  background-image: url(../img/star-border.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

#imdb_rating {
  background-color: #142630;
  margin-top: 35px;
  height: 150px;
  width: 255px;
  float: right;  
}

#imdb_rating_md {
  background-color: #142630;
  margin-top: 35px;
  margin-left: 35px;    
  height: 140px;
  width: 240px;
  float: left;    
}

#imdb_rating h4, #imdb_rating h1{
  text-align: center;
  width: 100%;
  margin-top: 45px;    
}

#imdb_rating_md h4, #imdb_rating_md h1{
  text-align: center;
  width: 100%;
  margin-top: 35px;    
}

.seriesHeading {
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 0px;
}

.seriesHeading h1 {
    float: left;
    color: #FFFFFF;
}

.seriesHeading h4 {
    font-weight: 400;
    color: #FFFFFF;
    float: right;
}

.seriesHeadingxs{
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    float: left;
    padding: 0px;
}

.seriesHeadingxs h2{
    color: white;
    float: left;
}

.seriesHeadingxs h4{
    color: white;
    float: right;
    margin-right: 12px;
    margin-top: 26px;
    
}

.movie-container {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0;
}

.movie-card {
    margin: 0.4%;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.3);
}

.image {
    width: 160px;
    height: 250px;
    background-image: url('http://www.coolingindia.in/uploads/2254/no%20image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.image h2 {
    position: relative;
    color: #FFFFFF;
    bottom: -90%;
    left: 5%;
    font-size: 15px;
    width: auto;
    text-shadow: 2px 2px 4px #000000;
}

.series {
    margin-top: -110px;
}

/*============================ Overlay =================================*/

.plot {
  white-space: normal; 
  color: #FFFFFF;
  font-size: 10px;
  position: absolute;
  width: 120px;
  height: 260px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: none; 
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #142630;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.movie-card:hover .overlay {
  height: 100%;
}

#bottomRow {
    vertical-align: middle;
}



#playNow {
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
}

.actionBar{
    position: absolute;
    height: 45px;
    width: 100%;
    padding: 10px;
    padding-top: 3px;
    background-color: #142630;
}

#more-info {
    color:gray;
    right: 15%;
    bottom: 0.1%;
    left: 15%;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 38px;
    margin-top: 20px;
}

.legal {
    float: left;
    vertical-align: middle;
}

.contact {
    float: right;
    vertical-align: middle;
}

