.main {
    margin-top: 55px;
    height: auto;
}

body {
    background-color: #000000;
}

.logo {
    width: 100px;
}

h1 {
    color: #FFFFFF;
}

h5 {
    margin-top: 7px;
}

a {
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
}

#item {
    height: 150px;
    background-color: #142630;
    padding: 0;
    margin-bottom: 20px;
}

.one {
    float: left;
    width: 170px;
    background-color: #142630;
    background-size: cover;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 20px;;
}

.two {
    float: left;
    width: 170px;
    background-color: #142630;
    background-size: cover;
    padding: 0;
    margin-bottom: 20px;
}


.overlay {
    height: 170px;
    opacity: 0.7;
    background-color: #000000;
}

.play {
    max-height: 170px;
    width: inherit;
}

#play {
    max-height: 170px;
    width: inherit;
    margin: 36.1%;
}

.image1, .image2, .title, .synopsis {
    float: left;
}

.watching, .watchlist {
    padding: 0;
}

.title p {
    font-size: 12px;
}

.info, .delete {
    float: right;
}

.image1 {
    height: 150px;
    width: 100px;
    background-size: cover;
}

#xs-btn1 {
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
    height: 40px;
    width: 40px;
}

.title {
    height: 150px;
    padding: 10px;
    color: #FFFFFF;
}

.title h5 {
    font-weight: bold;
}

.synopsis {
    height: 150px;
    color: #FFFFFF;
    padding: 10px;
}

.synopsis h5 {
    font-weight: normal;
}

.synopsis p {
    font-size: 12px;
    font-weight: 300;
}

.delete {
    height: 50px;
    color: #FFFFFF;
    margin-top: 42px;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
}

#info1 {
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
    height: 40px;
    width: 40px;
    margin-top: 50px;
}

.image2 {
    height: 150px;
    width: 100px;
    background-size: cover;
}

#xs-btn2 {
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
    height: 40px;
    width: 40px;
}

#info2 {
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
    height: 40px;
    width: 40px;
    margin-top: 50px;
}

#info3 {
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
    height: 40px;
    width: 40px;
    margin-top: 50px;
}

#info4 {
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
    height: 40px;
    width: 40px;
    margin-top: 50px;
}

#info5 {
    background-repeat: no-repeat;
    background-image: url(../img/play.svg);
    height: 40px;
    width: 40px;
    margin-top: 50px;
}



#more-info {
    color:gray;
    right: 15%;
    bottom: 0.1%;
    left: 15%;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 38px;
    margin-top: 20px;
}

.legal {
    float: left;
    vertical-align: middle;
}

.contact {
    float: right;
    vertical-align: middle;
}